@charset "utf-8";

.vipFontStrat {
  color: #f00;
}

@font-face {
  font-family: 'vipFont';
  src: url('../font/fonts/vipFont.eot');
  src: url('../font/fonts/vipFont.eot?#iefix') format('embedded-opentype'),url('../font/fonts/vipFont.svg#vipFont') format('svg'),url('../font/fonts/vipFont.woff') format('woff'),url('../font/fonts/vipFont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.vipFont {
  font-family: 'vipFont';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 16px;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ui-btn-big,
.ui-btn-nor,
.ui-btn-mini,
.ui-btn-tips {
  display: inline-block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-decoration: none;
  vertical-align: top;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}

.ui-btn-big:hover,
.ui-btn-nor:hover,
.ui-btn-mini:hover {
  text-decoration: none;
}

.ui-btn-big {
  padding: 0 29px;
  font: 18px/42px \5FAE\8F6F\96C5\9ED1,arial,\5B8B\4F53;
}

.ui-btn-big i {
  margin-right: 6px;
}

.ui-btn-big .if-shopping-bag {
  font-size: 22px;
  vertical-align: text-bottom;
  _vertical-align: baseline;
}

.ui-btn-big .if-card {
  font-size: 20px;
  vertical-align: -2px;
  _vertical-align: baseline;
}

.ui-btn-nor {
  padding: 0 25px;
  font: 14px/28px \5FAE\8F6F\96C5\9ED1,arial,\5B8B\4F53;
}

.ui-btn-nor .vipFont {
  font-size: 15px;
  vertical-align: text-top;
  _vertical-align: baseline;
  margin-right: 7px;
}

.ui-btn-nor .ui-btn-txt {
  margin-left: 7px;
}

.ui-btn-mini {
  display: inline-block;
  padding: 0 10px;
  font: 12px/18px \5FAE\8F6F\96C5\9ED1,arial,\5B8B\4F53;
  height: 18px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.ui-btn-mini .ii-loading {
  vertical-align: top;
  margin-top: 1px;
}

.ui-btn-tips {
  display: inline-block;
  padding: 0 11px;
  font: 14px/34px \5FAE\8F6F\96C5\9ED1,arial,\5B8B\4F53;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  color: #181818;
  background: rgba(255,255,255,0.8);
  filter: progidDXImageTransform.Microsoft.gradient(startcolorstr=#ccffffff, endcolorstr=#ccffffff);
}

.ui-btn-tips i {
  margin-right: 5px;
}

.ui-btn-tips .if-add {
  color: #3c9705;
  font-size: 12px;
}

.ui-btn-tips .if-close {
  display: inline-block;
  _display: inline;
  color: #f10123;
  font-size: 10px;
  -webkit-transform: scale(0.83);
}

.ui-btn-tips .if-movie {
  color: #db3184;
  font-size: 13px;
  margin: 0 0 0 5px;
}

.ui-btn-tips .if-tick {
  display: inline-block;
  _display: inline;
  color: #3c9705;
  font-size: 11px;
  -webkit-transform: scale(0.91);
}

.ui-btn-tips:hover {
  background: #fff;
  color: #181818;
  -webkit-filter: none;
  filter: none;
}

.ui-btn-tips1 {
  padding: 0 6px;
  font: 12px/24px \5FAE\8F6F\96C5\9ED1,arial,\5B8B\4F53;
}

.ui-btn-tips1 .if-heart {
  display: inline-block;
  _display: inline;
  color: #9b9a9a;
  font-size: 9px;
  -webkit-transform: scale(0.75);
}

.ui-btn-active {
  background: #fff;
  color: #181818;
  -webkit-filter: none;
  filter: none;
}

.ui-btn-active .if-heart {
  color: #cb2e7c;
}

.ui-btn1 {
  background-color: #f10180;
  border: 1px solid #f10180;
}

.ui-btn1,
.ui-btn1:hover,
.ui-btn1:active {
  color: #fff;
}

.ui-btn1:hover {
  background-color: #f43499;
}

.ui-btn1:active {
  background-color: #d80173;
}

.ui-btn2 {
  background-color: #fcedf2;
  border: 1px solid #ffbee0;
}

.ui-btn2,
.ui-btn2:hover,
.ui-btn2:active {
  color: #e00078;
}

.ui-btn2:hover {
  background-color: #fbf5f7;
}

.ui-btn2:active {
  background-color: #fcdee8;
}

.ui-btn3 {
  background-color: #fafafa;
  border: 1px solid #c2c2c2;
}

.ui-btn3,
.ui-btn3:hover,
.ui-btn3:active {
  color: #333;
}

.ui-btn3:hover {
  background-color: #fff;
}

.ui-btn3:active {
  background-color: #f0f0f0;
}

.ui-btn-disable,
.ui-btn-disable:hover,
.ui-btn-disable:active {
  border: 1px solid #d0d0d0;
  color: #999;
  background: #d0d0d0;
  cursor: not-allowed;
}

.ui-btn-disable .ii-loading {
  background-image: url("../font/img/loading_1.gif");
}

.ii-loading {
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  background-image: url("../font/img/loading.gif");
  background-repeat: no-repeat;
  overflow: hidden;
}

@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),only screen and (-moz-min-device-pixel-ratio: 1.5),only screen and (-o-min-device-pixel-ratio: 3/2),only screen and (min-device-pixel-ratio: 1.5) {
  .ii-loading {
    background-image: url("../font/img/loading@2x.gif");
    -webkit-background-size: 16px 16px;
    -moz-background-size: 16px 16px;
    background-size: 16px 16px;
  }

  .ui-btn-disable .ii-loading {
    background-image: url("../font/img/loading_1@2x.gif");
    -webkit-background-size: 16px 16px;
    -moz-background-size: 16px 16px;
    background-size: 16px 16px;
  }
}

.ui-btn-txt {
  display: inline-block;
  vertical-align: top;
  *vertical-align: middle;
}

.ui-tips-big .close,
.ui-tips-nor .close,
.ui-tips-pop .close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 3px 6px;
  font: 14px/1 arial;
}

.ui-tips-big .close,
.ui-tips-nor .close,
.ui-tips-pop .close,
.ui-tips-big .close:hover,
.ui-tips-nor .close:hover,
.ui-tips-pop .close:hover,
.ui-tips-big .close,
.ui-tips-nor .close,
.ui-tips-pop .close {
  color: #a6a5a5;
  text-decoration: none;
}

.ui-tips-big {
  position: relative;
  padding: 4px 0 4px 40px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  zoom: 1;
  font-family: \5FAE\8F6F\96C5\9ED1,arial,\5B8B\4F53;
}

.ui-tips-big .title {
  line-height: 24px;
  font-size: 16px;
  color: #424141;
  font-weight: normal;
}

.ui-tips-big .info {
  line-height: 20px;
  font-size: 12px;
  color: #2a2a2a;
}

.ui-tips-big i {
  position: absolute;
  left: 14px;
  top: 9px;
}

.ui-tips-nor {
  position: relative;
  padding-left: 15px;
  line-height: 30px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  zoom: 1;
  font-family: \5FAE\8F6F\96C5\9ED1,arial,\5B8B\4F53;
}

.ui-tips-nor .info {
  font-size: 14px;
  color: #2a2a2a;
}

.ui-tips-nor i {
  margin-right: 13px;
  vertical-align: -2px;
}

.ui-tips1 {
  background-color: #fffbf3;
  border: 1px solid #f8dcb0;
}

.if-sigh {
  color: #f9a123;
}

.ui-tips2 {
  background-color: #dff1f8;
  border: 1px solid #b4e1f3;
}

.if-info {
  color: #249fdf;
}

.ui-tips3 {
  background-color: #dff2d9;
  border: 1px solid #c1e0af;
}

.if-sucess {
  color: #47b85c;
}

.ui-tips4 {
  background-color: #f4e5e5;
  border: 1px solid #ebced0;
}

.if-wrong {
  color: #f64a4a;
}

.if-query {
  color: #2689f8;
}

.if-size-30 {
  font-size: 30px;
}

.if-size-48 {
  font-size: 48px;
}

.ui-tips-pop .bottom,
.ui-tips-pop .bottom1 {
  left: 50%;
  margin-left: -7px;
}

.ui-tips-pop .top,
.ui-tips-pop .top1 {
  left: 50%;
  margin-left: -7px;
}

.ui-tips-pop .left,
.ui-tips-pop .left1 {
  top: 50%;
  margin-top: -7px;
}

.ui-tips-pop .right,
.ui-tips-pop .right1 {
  top: 50%;
  margin-top: -7px;
}

.ui-tips-pop {
  position: absolute;
  background-color: #fffaf3;
  border-width: 1px;
  border-color: #f9dfba #f8dbb1 #f9e0bb;
  border-style: solid;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font: 12px/1.4 \5FAE\8F6F\96C5\9ED1,arial,\5B8B\4F53;
}

.ui-tips-pop .arrow {
  position: absolute;
  height: 14px;
  *overflow: hidden;
  font: normal 14px/14px \5B8B\4F53,Hiragino Sans GB;
  _line-height: 16px;
}

.ui-tips-pop .bottom {
  color: #f9e0bb;
  bottom: -8px;
}

.ui-tips-pop .bottom1 {
  color: #fffaf3;
  bottom: -6px;
}

.ui-tips-pop .top {
  color: #f9dfba;
  top: -8px;
}

.ui-tips-pop .top1 {
  color: #fffaf3;
  top: -6px;
}

.ui-tips-pop .left {
  color: #f8dbb1;
  left: -8px;
}

.ui-tips-pop .left1 {
  color: #fffaf3;
  left: -6px;
}

.ui-tips-pop .right {
  color: #f8dbb1;
  right: -8px;
}

.ui-tips-pop .right1 {
  color: #fffaf3;
  right: -6px;
}

.ui-tips-pop .cnt {
  padding: 10px;
  font-size: 12px;
  color: #4d4d4d;
}

.ui-tips-pop .cnt1 {
  padding: 10px 30px 10px 10px;
  font-size: 12px;
  color: #4d4d4d;
}

:root .ui-tips-pop .arrow {
  font-size: 14px;
}

.ui-tips-pop-1 {
  background-color: #fff;
  border-color: #d7d6d4;
  -webkit-box-shadow: 0 0 0 3px rgba(0,0,0,0.04);
  -moz-box-shadow: 0 0 0 3px rgba(0,0,0,0.04);
  box-shadow: 0 0 0 3px rgba(0,0,0,0.04);
}

.ui-tips-pop-1 .top1,
.ui-tips-pop-1 .right1,
.ui-tips-pop-1 .bottom1,
.ui-tips-pop-1 .left1 {
  color: #fff;
}

.ui-tips-pop-1 .top,
.ui-tips-pop-1 .right,
.ui-tips-pop-1 .bottom,
.ui-tips-pop-1 .left {
  color: #d7d6d4;
}

.ui-tips-pop-1 .left {
  text-shadow: -3px 0 rgba(0,0,0,0.04);
}

.ui-tips-pop-1 .right {
  text-shadow: 3px 0 rgba(0,0,0,0.04);
}

.ui-tips-pop-1 .top {
  text-shadow: 0 -3px rgba(0,0,0,0.04);
}

.ui-tips-pop-1 .bottom {
  text-shadow: 0 3px rgba(0,0,0,0.04);
}

.ui-pagging {
  text-align: center;
  font: 12px/24px \5FAE\8F6F\96C5\9ED1,arial,\5B8B\4F53;
}

.ui-pagging .total {
  font-size: 14px;
  line-height: 26px;
  color: #424141;
  margin-right: 6px;
}

.ui-pagging .arrow {
  display: inline-block;
  font: 18px/22px arial;
  vertical-align: top;
}

.ui-pagging a {
  display: inline-block;
  width: 24px;
  border: 1px solid #b8b8b8;
  background-color: #fff;
  margin: 0 1px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: #848585;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.ui-pagging a:hover {
  color: #e25996;
  background-color: #fef9fb;
  border-color: #f995c5;
}

.ui-pagging a.curr,
.ui-pagging a:active {
  background-color: #de3083;
  color: #fff;
  border-color: #cd2a78;
}

.ui-pagging-mini .total {
  font-size: 12px;
}

.ui-pagging-mini .total em {
  color: #e0468d;
}

.ui-pagging-mini .next {
  width: 66px;
}

.ui-pagging-mini .next .arrow {
  margin-left: 6px;
}

.ui-pagging-mini .disable,
.ui-pagging-mini .disable:hover,
.ui-pagging-mini .disable:active {
  color: #9e9d9d;
  background-color: #d2d1d1;
  border-color: #b8b8b8;
  cursor: not-allowed;
}

.vipFontEnd {
  color: #f00;
}