// @use : vip commmon ui
// @editor : mss.huang
// @last modified time : 2014.1.15
// @verson : 0.2

@charset "utf-8";
@import "partials/variable.styl"
@import "partials/font.styl"	
@import "partials/frame.styl"
@import "partials/btn.styl"
@import "partials/tips.styl"
@import "partials/pagging.styl"




