// @use : vip commmon ui
// @editor : mss.huang
// @last modified time : 2014.2.18
// @verson : 0.1

@charset "utf-8";
.vipFontStrat{color:#f00;}
@import "partials/font.styl"
@import "partials/btn.styl"
@import "partials/tips.styl"
.vipFontEnd{color:#f00;}




