linearBg(fowards,startColor,endColor){
background: -moz-linear-gradient(fowards, startColor, endColor);
background: -webkit-linear-gradient(fowards, startColor, endColor);
background: -o-linear-gradient(fowards, startColor, endColor);
background: linear-gradient(fowards, startColor, endColor);
}