// 原子类 
.deep_red{color:#f43499;}/* 深红色 */
.light_red{color:#cd197a;}/* 浅红色 */
.link_red{color:#f10180;}/* 浅红色 */
.gray{color:#808080;}/* 浅灰色 */
.d_gray{color:#666;}/* 深灰色 */
.bold{font-weight:bold;}
.f10{font-size:10px;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.f18{font-size:18px;}
.f20{font-size:20px;}
.fl{float:left;_display:inline;}
.fr{float:right;_display:inline;}
.hidden{display:none;}
.fwr{ font-family:'\5FAE\8F6F\96C5\9ED1',sans-serif} /* 微软雅黑字体类 */
.fst{ font-family:'\5B8B\4F53',sans-serif}           /* 宋体字体类 */
.far{ font-family:Arial,sans-serif}                /* Arial字体类 */
.hide_font{display:block;white-space:nowrap;text-indent:-100%;overflow:hidden;height:0;}
.clearfix:after{content:'.';height:0;display:block;clear:both;visibility:hidden;overflow hidden;}
.clearfix{*zoom:1;}
.cut{text-overflow:ellipsis; overflow:hidden; white-space:nowrap;width:100%;}