// @use : vip bootstrap button
// @editor : mss.huang
// @last modified time : 2014.7.24
// @verson : 3.0


//按钮通用样式
$btn-normal-style
    display inline-block
    border-radius 3px
    text-decoration none
    vertical-align top
    transition .3s

// 按钮hover下划线去掉
.ui-btn-big:hover
.ui-btn-nor:hover
.ui-btn-mini:hover
    text-decoration none

// 大按钮
.ui-btn-big
    padding 0 29px
    font 18px/42px s('\5FAE\8F6F\96C5\9ED1,arial,\5B8B\4F53')
    @extends $btn-normal-style

    i
        margin-right 6px

    .if-shopping-bag
        font-size 22px
        vertical-align text-bottom
        _vertical-align baseline

    .if-card
        font-size 20px
        vertical-align -2px
        _vertical-align baseline


// 普通按钮
.ui-btn-nor
    padding 0 25px
    font 14px/28px s('\5FAE\8F6F\96C5\9ED1,arial,\5B8B\4F53')
    @extends $btn-normal-style

    .vipFont
        font-size 15px
        vertical-align text-top
        _vertical-align baseline
        margin-right 7px

    .ui-btn-txt
        margin-left 7px

// 小按钮
.ui-btn-mini
    display inline-block
    padding 0 10px
    font 12px/18px s('\5FAE\8F6F\96C5\9ED1,arial,\5B8B\4F53')
    height 18px
    border-radius 3px
    @extends $btn-normal-style

    .ii-loading
        vertical-align top
        margin-top 1px

// 提示功能类大按钮
.ui-btn-tips
    display inline-block
    padding 0 11px
    font 14px/34px s('\5FAE\8F6F\96C5\9ED1,arial,\5B8B\4F53')
    border-radius 3px
    transition all .5s ease-out
    -webkit-transition all .5s ease-out
    color #181818
    background rgba(255,255,255,.8)
    filter s('progidDXImageTransform.Microsoft.gradient(startcolorstr=#ccffffff, endcolorstr=#ccffffff)')
    @extends $btn-normal-style

    i
        margin-right 5px

    .if-add
        color #3c9705
        font-size 12px

    .if-close
        display inline-block
        _display inline
        color #f10123
        font-size 10px
        -webkit-transform scale(.83)

    .if-movie
        color #db3184
        font-size 13px
        margin 0 0 0 5px

    .if-tick
        display inline-block
        _display inline
        color #3c9705
        font-size 11px
        -webkit-transform scale(.91)

    &:hover
        background #fff
        color #181818
        filter none

// 提示功能类小按钮
.ui-btn-tips1 {
    padding: 0 6px
    font: 12px/24px s('\5FAE\8F6F\96C5\9ED1,arial,\5B8B\4F53');

    .if-heart {
        display: inline-block;
        _display: inline;
        color: #9b9a9a;
        font-size:9px;
        -webkit-transform: scale(.75);
    }
}

// 提示功能类按钮已点击
.ui-btn-active {
    background: #fff;
    color: #181818;
    filter: none;

    .if-heart {
        color: #cb2e7c;
    }
}


// 唯品红按钮
.ui-btn1
    background-color #f10180
    border 1px solid #f10180

    &
    &:hover
    &:active
        color #fff

    &:hover
        background-color #f43499

    &:active
        background-color #d80173

// 浅红按钮
.ui-btn2
    background-color #fcedf2
    border 1px solid #ffbee0

    &
    &:hover
    &:active
        color #e00078

    &:hover
        background-color #fbf5f7

    &:active
        background-color #fcdee8

// 浅灰按钮
.ui-btn3
    background-color #fafafa
    border 1px solid #c2c2c2

    &
    &:hover
    &:active
        color #333

    &:hover
        background-color #fff

    &:active
        background-color #f0f0f0

// 按钮不可点击及处理中
.ui-btn-disable
    &
    &:hover
    &:active
        border 1px solid #d0d0d0
        color #999
        background #d0d0d0
        cursor not-allowed

    .ii-loading
        background-image url('../font/img/loading_1.gif')

// 按钮loading动画
.ii-loading
    width 16px
    height 16px
    display inline-block
    vertical-align middle
    background-image url('../font/img/loading.gif')
    background-repeat no-repeat
    overflow hidden

// retina 兼容
@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
  .ii-loading {
    background-image: url('../font/img/loading@2x.gif');
    background-size: 16px 16px;
  }

  .ui-btn-disable {
    .ii-loading {
        background-image: url('../font/img/loading_1@2x.gif');
        background-size: 16px 16px;
    }
  }
}

// 可以处理inline-block图片图标对文字产生的影响,和图片图标搭配，例如ii-loading
.ui-btn-txt {
    display: inline-block;
    vertical-align: top;
    *vertical-align: middle;
}
