@css {
	@font-face {
		font-family: 'vipFont';
		src:url('{$fontDomain}/fonts/vipFont.eot');
		src:url('{$fontDomain}/fonts/vipFont.eot?#iefix') format('embedded-opentype'),
			url('{$fontDomain}/fonts/vipFont.woff') format('woff'),
			url('{$fontDomain}/fonts/vipFont.ttf') format('truetype'),
			url('{$fontDomain}/fonts/vipFont.svg#vipFont') format('svg');
		font-weight: normal;
		font-style: normal;
	}
	.vipFont {
		font-family: 'vipFont';
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		font-size: 16px;

		/* Better Font Rendering =========== */
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	

}