@css {
	@font-face {
		font-family: 'vipFont';
		src:url('../fonts/vipFont.eot');
		src:url('../fonts/vipFont.eot?#iefix') format('embedded-opentype'),
			url('../fonts/vipFont.svg#vipFont') format('svg'),
			url('../fonts/vipFont.woff') format('woff'),
			url('../fonts/vipFont.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
	}

	.vipFont {
		font-family: 'vipFont';
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;

		/* Better Font Rendering =========== */
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	.if-add:before {
		content: "\e600";
	}
	.if-card:before {
		content: "\e601";
	}
	.if-close:before {
		content: "\e602";
	}
	.if-heart:before {
		content: "\e603";
	}
	.if-info:before {
		content: "\e604";
	}
	.if-movie:before {
		content: "\e605";
	}
	.if-query:before {
		content: "\e606";
	}
	.if-shopping-bag:before {
		content: "\e607";
	}
	.if-sigh:before {
		content: "\e608";
	}
	.if-sucess:before {
		content: "\e609";
	}
	.if-wrong:before {
		content: "\e60a";
	}
	.if-tick:before {
		content: "\e60b";
	}
	.if-add {
		*zoom: expression(this.innerHTML = '&#xe600;');
	}
	.if-card {
		*zoom: expression(this.innerHTML = '&#xe601;');
	}
	.if-close {
		*zoom: expression(this.innerHTML = '&#xe602;');
	}
	.if-heart {
		*zoom: expression(this.innerHTML = '&#xe603;');
	}
	.if-info {
		*zoom: expression(this.innerHTML = '&#xe604;');
	}
	.if-movie {
		*zoom: expression(this.innerHTML = '&#xe605;');
	}
	.if-query {
		*zoom: expression(this.innerHTML = '&#xe606;');
	}
	.if-shopping-bag {
		*zoom: expression(this.innerHTML = '&#xe607;');
	}
	.if-sigh {
		*zoom: expression(this.innerHTML = '&#xe608;');
	}
	.if-sucess {
		*zoom: expression(this.innerHTML = '&#xe609;');
	}
	.if-wrong {
		*zoom: expression(this.innerHTML = '&#xe60a;');
	}
	.if-tick {
		*zoom: expression(this.innerHTML = '&#xe60b;');
	}

}