/* reset css*/
article,aside,audio,bdi,canvas,command,datalist,details,figcaption,figure,footer,header,hgroup,keygen,mark,meter,nav,output,progress,rp,rt,ruby,section,source,summary,time,track,video,title {display:block}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,legend,input,figure,button,textarea,p,th,td{margin:0;padding:0;}
body{background:#f8f8f8;color:#333;min-width:1000px;font:12px/1.7 arial,'\5B8B\4F53',sans-serif;}
h1,h2,h3,h4,h5,h6,input,select,textarea{font-size:100%;}
table{border-collapse:collapse;}
ul,ol{list-style:none;}
em,i,address{font-style:normal;}
fieldset,img{border:0;}
a,img{vertical-align:top;}
a{color:#333;text-decoration:none;background-color:transparent;transition:color .3s ease-out;}
a:hover{color:#f10180;}