// @use : vip bootstrap tips
// @editor : mss.huang
// @last modified time : 2014.3.14
// @verson : 0.8

// 关闭小按钮模块
$btn-close {
	position: absolute;
	right: 0;
	top: 0;
	padding: 3px 6px;
	font: 14px/1 arial;

	&,&:hover {
		color: #a6a5a5;
		text-decoration: none;
	}
}

// 大提示框
.ui-tips-big {
	position: relative;
	padding: 4px 0 4px 40px;
	border-radius: 2px;
	zoom: 1;
	font-family: s('\5FAE\8F6F\96C5\9ED1,arial,\5B8B\4F53');

	.title {
		line-height: 24px;
		font-size: 16px;
		color: #424141;
		font-weight: normal;
	}

	.info {
		line-height: 20px;
		font-size: 12px;
		color: #2a2a2a;
	}

	i {
		position:absolute;
		left: 14px;
		top: 9px;
	}

	.close {
		@extends $btn-close;
	}
}

// 常规型提示框
.ui-tips-nor {
	position: relative;
	padding-left: 15px;
	line-height: 30px;
	border-radius: 2px;
	zoom: 1;
	font-family: s('\5FAE\8F6F\96C5\9ED1,arial,\5B8B\4F53');
	.info {
		font-size: 14px;
		color: #2a2a2a;
	}

	i {
		margin-right: 13px;
		vertical-align: -2px;
	}

	.close {
		@extends $btn-close;
	}
}

// 常规错误提示框
.ui-tips1 {
	background-color: #fffbf3;
	border: 1px solid #f8dcb0;
}

.if-sigh {
	color: #f9a123;
}

// 信息提示框
.ui-tips2 {
	background-color: #dff1f8;
	border: 1px solid #b4e1f3;
}

.if-info {
	color: #249fdf;
}

// 成功提示框
.ui-tips3 {
	background-color: #dff2d9;
	border: 1px solid #c1e0af;
}

.if-sucess {
	color: #47b85c;
}

// 严重错误提示框
.ui-tips4 {
	background-color: #f4e5e5;
	border: 1px solid #ebced0;
}

.if-wrong {
	color: #f64a4a;
}

// 二次确认
.if-query {
	color: #2689f8;
}

// 提示图标size
.if-size-30 {
	font-size: 30px;
}

.if-size-48 {
	font-size: 48px;
}


// 气泡提示模块

// 字符兼容
arrowPos = -8px;

// 小箭头合成
$bottom-arrow {
	left: 50%;
	margin-left: arrowPos+1;
}

$top-arrow {
	left: 50%;
	margin-left: arrowPos+1;
}

$left-arrow {
	top: 50%;
	margin-top: arrowPos+1;
}

$right-arrow {
	top: 50%;
	margin-top: arrowPos+1;
}

.ui-tips-pop {
	position:absolute;
	background-color: #fffaf3;
	border-width: 1px;
	border-color: #f9dfba #f8dbb1 #f9e0bb;
	border-style: solid;
	border-radius: 2px;
	font: 12px/1.4 s('\5FAE\8F6F\96C5\9ED1,arial,\5B8B\4F53');

	.arrow {
		position: absolute;
		height: 14px;
		*overflow: hidden;
		font: normal 14px/14px s('\5B8B\4F53 Hiragino Sans GB');
		font-size: s('25px\9');
		_line-height: 18px;
	}

	.bottom {
		@extend $bottom-arrow;
		color: #f9e0bb;
		bottom: arrowPos;
		
	}

	.bottom1 {
		@extend $bottom-arrow;
		color: #fffaf3;
		bottom: arrowPos+2;
	}

	.top {
		@extend $top-arrow;
		color: #f9dfba;
		top: arrowPos;
	}

	.top1 {
		@extend $top-arrow;
		color: #fffaf3;
		top: arrowPos+2;
	}

	.left {
		@extend $left-arrow;
		color: #f8dbb1;
		left: arrowPos;
	}

	.left1 {
		@extend $left-arrow;
		color: #fffaf3;
		left: arrowPos+2;
	}

	.right {
		@extend $right-arrow;
		color: #f8dbb1;
		right: arrowPos;
	}

	.right1 {
		@extend $right-arrow;
		color: #fffaf3;
		right: arrowPos+2;
	}

	.close {
		@extends $btn-close;
	}

	.cnt {
		padding: 10px;
		font-size: 12px;
		color: #4d4d4d;
	}

	.cnt1 {
		padding: 10px 30px 10px 10px;;
		font-size: 12px;
		color: #4d4d4d;
	}
}

// ie9以上按照高级浏览器走
:root .ui-tips-pop {
	.arrow {
		font-size: 14px;
	}
}

// 白色扩展
.ui-tips-pop-1 {
	background-color: #fff;
	border-color: #d7d6d4;
	box-shadow: 0 0 0 3px rgba(0,0,0,.04);

	.top1,.right1,.bottom1,.left1 {
		color: #fff;
	}

	.top,.right,.bottom,.left {
		color: #d7d6d4;
	}

	.left {
		text-shadow: -3px 0 rgba(0,0,0,.04);
	}

	.right {
		text-shadow: 3px 0 rgba(0,0,0,.04);
	}

	.top {
		text-shadow:0 -3px rgba(0,0,0,.04);
	}

	.bottom {
		text-shadow:0 3px rgba(0,0,0,.04);
	}
}