// @use : vip bootstrap tips
// @editor : mss.huang
// @last modified time : 2014.1.15
// @verson : 0.1


// 大提示框
.ui-tips-big {
	position: relative;
	padding: 19px 0 19px 98px;
	border-radius: 2px;
	zoom: 1;
	font-family: s('\5FAE\8F6F\96C5\9ED1,arial,\5B8B\4F53');

	.title {
		line-height: 38px;
		font-size: 18px;
		color: #41413c;
		font-weight: normal;
	}

	.info {
		line-height: 24px;
		font-size: 14px;
		color: #a6a4a2;
	}

	i {
		position:absolute;
		left: 28px;
		top: 25px;
		font-size: 50px;
	}

	.if-close {
		position: absolute;
		right: 0;
		top: 0;
		padding: 10px;
		font-size: 8px;
		color: #a6a5a5;
	}
}

// 常规型提示框
.ui-tips-nor {
	position: relative;
	padding-left: 15px;
	line-height: 40px;
	border-radius: 2px;
	zoom: 1;
	font-family: s('\5FAE\8F6F\96C5\9ED1,arial,\5B8B\4F53');
	.info {
		font-size: 14px;
		color: #a6a4a2;
	}

	i {
		margin-right: 13px;
		vertical-align: -2px;
	}

	.if-close {
		position: absolute;
		right: 0;
		top: 6px;
		padding: 10px;
		font-size: 8px;
		color: #a6a5a5;
	}
}

// 常规错误提示框
.ui-tips1 {
	background-color: #fffbf3;
	border: 1px solid #f8dcb0;
}

.if-sigh {
	color: #f9a123;
}

// 信息提示框
.ui-tips2 {
	background-color: #dff1f8;
	border: 1px solid #b4e1f3;
}

.if-info {
	color: #249fdf;
}

// 成功提示框
.ui-tips3 {
	background-color: #dff2d9;
	border: 1px solid #c1e0af;
}

.if-sucess {
	color: #47b85c;
}

// 严重错误提示框
.ui-tips4 {
	background-color: #f4e5e5;
	border: 1px solid #ebced0;
}

.if-wrong {
	color: #f64a4a;
}

// 小箭头合成
$bottom-arrow {
	border-style: solid dashed dashed;
	left: 50%;
	margin-left: -6px;
}

$top-arrow {
	border-style: dashed dashed solid;
	left: 50%;
	margin-left: -6px;
}

$left-arrow {
	border-style: dashed solid dashed dashed;
	top: 50%;
	margin-top: -6px;
}

$right-arrow {
	border-style: dashed dashed dashed solid;
	top: 50%;
	margin-top: -6px;
}

// 气泡提示模块
.ui-tips-pop {
	position:absolute;
	background-color: #fffaf3;
	border-width: 1px;
	border-color: #f9dfba #f8dbb1 #f7deb9;
	border-style: solid;
	border-radius: 2px;

	.arrow {
		position: absolute;
		border-width: 6px;
		font-size: 0;
		height: 0;
		overflow: hidden;
	}

	.bottom {
		@extend $bottom-arrow;
		border-color: #f7deb9 transparent transparent;
		bottom: -12px;
	}

	.bottom1 {
		@extend $bottom-arrow;
		border-color: #fffaf3 transparent transparent;
		bottom: -11px;
	}

	.top {
		@extend $top-arrow;
		border-color: transparent transparent #f7deb9;
		top: -12px;
	}

	.top1 {
		@extend $top-arrow;
		border-color: transparent transparent #fffaf3;
		top: -11px;
	}

	.left {
		@extend $left-arrow;
		border-color: transparent #f7deb9 transparent transparent;
		left: -12px;
	}

	.left1 {
		@extend $left-arrow;
		border-color: transparent #fffaf3 transparent transparent;
		left: -11px;
	}

	.right {
		@extend $right-arrow;
		border-color: transparent transparent transparent #f7deb9;
		right: -12px;
	}

	.right1 {
		@extend $right-arrow;
		border-color: transparent transparent transparent #fffaf3;
		right: -11px;
	}

	.if-close {
		position: absolute;
		right: 0;
		top: 0;
		padding: 8px;
		font-size: 8px;
		color: #a6a5a5;
	}

	.cnt {
		padding: 10px;
	}
}

// webkit内核小于12px字需要用transform来解决
@media screen and (-webkit-min-device-pixel-ratio:0){
	$tips-close-btn {
		right: -7px;
		font-size: 12px;
		-webkit-transform: scale(.67);
	}
	.ui-tips-big {
		.if-close {
			top: -6px;
			padding: 15px;
			@extend $tips-close-btn;
		}
	}

	.ui-tips-nor {
		.if-close {
			top: 0;
			padding: 15px;
			@extend $tips-close-btn;
		}
	}

	.ui-tips-pop {
		.if-close {
			top: -5px;
			padding: 12px;
			@extend $tips-close-btn;
		}
	}
}